{% extends "base.html" %}

{% block head %}
<style type="text/css" media="screen">
 body {
     background-color:{% if colour_mode.value == "dark" %}#242424{% else %}white{% endif %};
 }
 #graph svg {
    height: 100%;
    width: auto;
 }
 #logo {
     width: 114px;
     position: absolute;
     top: 10px;
     left: 10px;
 }
</style>

{% endblock %}

{% block content %}
<img src="/static/dbviz-{{ colour_mode.value }}.png" id="logo">
<div id="graph" style="text-align: center;"></div>
{% endblock %}

{% block script %}
<script src="//d3js.org/d3.v5.min.js"></script>
<script src="https://unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script>
<script src="https://unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script>
<script>
 var graph_source = `
 {{ dot.source|safe }}
 `;

 var margin = 20;
 var width = window.innerWidth - margin;
 var height = window.innerHeight - margin;
 var graphviz = d3.select("#graph").graphviz()
    .on("initEnd", render);

 function render() {
    graphviz
        .width(width)
        .height(height)
        .fit(true)
        .renderDot(graph_source)
 }

</script>
{% endblock %}
